@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
  h2 {
    font-size: 55px;
    line-height: 67px;
    margin-bottom: 25px;
  }
  .header__burger-btn {
    display: block;
    margin-right: 195px;
    z-index: 11;
  }
  .header__burger-btn.header__burger-line--close::after {
    bottom: 35%;
  }
  .header__nav-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 125px;
    bottom: 0;
    background: #fffaf3;
    z-index: 10;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    padding-left: 20px;
    transform: translatex(-100%);
    transition: all 0.5s;
  }
  .header__nav-list--open {
    transform: translatex(0);
  }
  .header__nav-btn {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 19px;
    z-index: 11;
  }
  .header__link-logo {
    z-index: 11;
  }
  .about {
    background-size: 343px 351px;
    background-position: 400px 190px;
  }
  .about__subtitle {
    font-size: 16px;
    line-height: 24px;
  }
  .about__title {
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 1.1px;
  }
  .about__link {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 19px;
  }
  .about__price {
    font-size: 16px;
    line-height: 19px;
  }
  .about__img {
    width: 103px;
    height: 103px;
  }
  .about__img-box {
    margin-bottom: 50px;
  }
  .about__item-number {
    font-size: 55px;
    line-height: 67px;
  }
  .about__item-text {
    font-size: 16px;
    line-height: 24px;
  }
  .about__list {
    gap: 90px;
  }
  .about__info {
    margin-bottom: 100px;
  }
  .about__slider-content {
    padding: 25px 25px;
    transform: translate(-30px, 68px);
    max-width: 340px;
  }
  .about__slider-content--second {
    max-width: 354px;
    padding: 30px 55px;
    transform: translate(-30px, 140px);
  }
  .about__slider-content--second a {
    font-size: 16px;
    line-height: 19px;
  }
  .about__slider-items, .about__slider-items--second {
    background-size: cover;
  }
  .about__slider-title {
    font-size: 36px;
    line-height: 44px;
  }
  .about__slider-title--second {
    font-size: 36px;
    line-height: 44px;
  }
  .about__slider-text {
    font-size: 16px;
    line-height: 24px;
  }
  .services__tabs-btn {
    font-size: 24px;
    line-height: 29px;
  }
  .services__tabs-nav {
    gap: 68px;
  }
  .services__tabs-list {
    max-width: 360px;
  }
  .services__tabs-text {
    max-width: 223px;
    font-size: 16px;
    line-height: 24px;
  }
  .services__tabs-item--nails ul li {
    font-size: 16px;
    line-height: 24px;
  }
  .services__tabs-box--neils::after {
    width: 142px;
    height: 177px;
    top: 0;
    background-size: cover;
  }
  .services__tabs-box--neils::before {
    width: 245px;
    height: 281px;
    top: 62px;
    right: 65px;
  }
  .services__tabs-box--extension::after {
    width: 158px;
    height: 211px;
    background-size: cover;
    top: 0;
  }
  .services__tabs-box--extension::before {
    width: 245px;
    height: 281px;
    top: 62px;
    right: 90px;
  }
  .services__tabs-box--pedicure::after {
    width: 150px;
    height: 175px;
    background-size: cover;
    top: 0;
  }
  .services__tabs-box--pedicure::before {
    width: 295px;
    height: 370px;
    top: 15px;
    right: 90px;
  }
  .services__tabs-box--brow::after {
    width: 150px;
    height: 175px;
    background-size: cover;
    top: 0;
  }
  .services__tabs-box--brow::before {
    width: 295px;
    height: 370px;
    top: 15px;
    right: 90px;
  }
  .services__tabs-order {
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
  }
  .portfolio__slider-item {
    width: 190px !important;
  }
  .portfolio__text {
    font-size: 24px;
    line-height: 29px;
  }
  .portfolio__slider-btn {
    display: none !important;
  }
  .portfolio__slider {
    height: 300px;
  }
  .present {
    background-size: contain;
  }
  .present__inner {
    gap: 60px;
  }
  .present__img {
    width: 273px;
    margin-right: 0;
  }
  .present__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  .present__link-order {
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
  }
  .present__link-details {
    font-size: 16px;
    line-height: 19px;
  }
  .feedback {
    padding: 100px 0 0 0;
  }
  .feedback__inner {
    gap: 20px;
  }
  .feedback__title-left {
    margin-left: 120px;
  }
  .feedback__title {
    margin-bottom: 25px;
  }
  .feedback__img {
    width: 222px;
    height: 308px;
  }
  .feedback__slider-persone {
    font-size: 16px;
    line-height: 24px;
  }
  .feedback__content {
    max-width: 465px;
  }
  .feedback__slider-link, .feedback__slider-date {
    font-size: 16px;
    line-height: 19px;
  }
  .feedback__slider-text {
    font-size: 16px;
    line-height: 19px;
    max-width: 336px;
  }
  .studios__tab-btn {
    font-size: 24px;
    line-height: 29px;
  }
  .studios__tab-nav {
    margin-bottom: 34px;
  }
  .studios__tab-map iframe {
    max-width: 344px;
    max-height: 322px;
  }
  .studios__tab-info {
    font-size: 16px;
    line-height: 24px;
  }
  .studios__tab-about {
    margin-bottom: 25px;
  }
  .studios__tab-addres {
    margin-bottom: 25px;
  }
  .studios__btn {
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
    margin-top: 40px;
  }
  .footer__social-list {
    margin-top: 30px;
    gap: 0;
    justify-content: space-between;
  }
  .footer__social-logo {
    margin: 0 auto;
  }
  .footer__social-text {
    font-size: 14px;
    line-height: 21px;
  }
  .footer__about-link {
    font-size: 16px;
    line-height: 24px;
  }
  .footer__about-item:last-child {
    max-width: 165px;
    margin-top: 0;
  }
  .footer__form {
    flex-basis: 223px;
  }
  .footer__form-title {
    font-size: 24px;
    line-height: 29px;
    max-width: 188px;
  }
  .footer__form-label {
    font-size: 12px;
    line-height: 18px;
  }
  .footer__form-input {
    margin-bottom: 30px;
  }
}
@media (max-width: 426px) {
  .header__nav-btn {
    display: none;
  }
  .header__inner {
    gap: 0;
  }
  .header__nav-btn--mobile {
    display: block;
  }
  .header__nav-list {
    align-items: center;
  }
  .header__burger-btn.header__burger-line--close::after {
    bottom: 40%;
  }
  .about {
    background-size: 173px 181px;
    background-position: 230px 75px;
  }
  .about::after {
    top: -130px;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .about::before {
    background-size: contain;
    top: 170px;
    width: 300px;
    height: 300px;
  }
  .about__title {
    font-size: 33px;
    line-height: 40px;
    letter-spacing: normal;
  }
  .about__title span:nth-child(2) {
    margin-right: 35px;
  }
  .about__subtitle {
    font-size: 14px;
  }
  .about__link-box {
    padding-top: 100px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about__img-box {
    margin-top: -230px;
    gap: 5px;
    margin-bottom: 130px;
    min-width: auto;
  }
  .about__img {
    width: 60px;
    height: 60px;
  }
  .about__link {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .about__list {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 30px;
  }
  .about__item-number {
    font-size: 40px;
    line-height: 24px;
  }
  .about__item {
    max-width: 245px;
  }
  .about__item:nth-child(1) {
    flex-basis: auto;
  }
  .about__item:nth-child(2) {
    flex-basis: auto;
  }
  .about__item:nth-child(3) {
    flex-basis: auto;
  }
  .about__slider-items {
    margin-bottom: 190px;
    position: relative;
    background-position-x: -85px;
  }
  .about__slider-content {
    margin: 20px 0 0 0;
    padding: 0;
    position: absolute;
    transform: translate(0, 0);
    top: 100%;
    text-align: center;
    max-width: none;
  }
  .about__slider-items--second {
    position: relative;
  }
  .about__slider-content--second {
    margin: 20px 0 0 0;
    padding: 0;
    position: absolute;
    transform: translate(0, 0);
    top: 100%;
    right: 0;
    left: 0;
    text-align: center;
    max-width: none;
  }
  .about__slider-content--second a {
    color: #000;
  }
  .about__slider-title--second {
    color: #000;
  }
}/*# sourceMappingURL=adaptive.css.map */